/* Add CSS Styling */

p{
    background-color: lightpink;
    font-family:  DejaVu Sans;
}

div{
    color: blue;
    font-size: 36px;
}

.big{
    font-size: 24px;
}

.greendiv{
    background-color: green;
    color: black;
}