/* Add CSS Styling */
.odd{
    background-color: red;
}

#second{
    color: blue;
    font-size: 36px;
}

.big{
    font-size: 24px;
}

.greendiv{
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}