body {
  background: #376ec0;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #0f0707;
  margin: 16px auto;

  padding: 8px;
  

  
}

.title {
  background: #588caf;

  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #529dcf;

  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #5ea5d4;

  text-align: center;
  padding: 8px;
  
}

button {
  background: white;
  border: 1px solid #eee;

  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  
}