.box1{
    box-sizing: content-box;
    background-color: red;
    height: 200px;
    width: 500px;

    padding: 50px;



}

.box2{
    box-sizing: border-box;
    background-color: blue;
    height: 200px;
    width: 500px;

    padding: 50px;
    
}